<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="dubit" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Dub It!</title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

</head>

<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="index.html"><img src="images/logo_dubit.png" alt="" width="350" /></a>
            </div>
        </div>

        <div id="contents">
            <div id="main">
                <iframe width="480" height="270" src="http://embed.wirewax.com/8028026/?player=yp" frameborder="0" scrolling="no" allowfullscreen></iframe>
                
                <button type="button" name="record" value="record">
                    <img src="images/record.png"><br>
                </button>

                <iframe src="http://vocaroo.com/?minimal" width="525" height="450" frameborder="0"></iframe>
                <br>Powered by <a href="http://vocaroo.com" title="Voice Recorder">Vocaroo Voice Recorder</a>
            </div>
        </div>

        <div id="footer">
            Copyrights(c) 2016 DubIt. All Rights Reserved.
        </div>
    </div>
<script src="/static/javascript/voice_file.js"></script>
</body>
</html>